body{
    font-family: 'Island Moments', cursive;
font-family: 'Poppins', sans-serif;
margin: 0px;
padding: 0px;
}
.hedding h1{
    font-size: 50px;
    
}
.span{
    color: orange;
}
.head{
    display: flex;
    margin-bottom: 100px;
}
.head-2{
    width: 50%;
    padding-left: 5px;
}
.head-2 img{
    width: 60%;
    
}
.head-2 p{
    text-align: justify;
}

.buttion{
    text-decoration: none;
    background-image: linear-gradient(green,red);
    border-radius: 5px;
    padding: 5px 10px;
    color: paleturquoise;
    font-weight: 700px;
}

/*End Step*/

.body-2{
    text-align: center;
    font-size: 30px;
}
.span-2{
    color: orange;
    text-align: center;
}
.body-3{
    display: flex;
    margin-bottom: 100px;

}
.body-4{
    border-radius: 5px;
    border: 0px solid gray;
    padding: 5px;
    margin: 20px;
    background-image: linear-gradient(rgb(193, 217, 245),rgb(139, 226, 226))
    
}
.body-4 img{
    width: 30%;
}
.body-5{
    border-radius: 5px;
    border: 0px solid gray;
    padding: 5px;
    margin: 20px;
    background-image: linear-gradient(rgb(236, 118, 230),rgb(29, 163, 89))
    
}
.body-5 img{
    width: 30%;
}
.body-6{
    border-radius: 5px;
    border: 0px solid gray;
    padding: 10px;
    margin: 20px;
    background-image: linear-gradient(rgb(75, 158, 226),rgb(186, 230, 145))
}
.body-6 img{
    width: 30%;
}

/*End Step*/